.field {
  display: flex;
  flex: 1 1;
  margin-bottom: 15px;
}

.field label {
  font-weight: bold;
  min-width: 180px;
  text-align: right;
  margin-right: 30px;
}

.field ul {
  padding-left: 20px;
}
