.listItem {
  border-bottom: 1px solid gray;
  margin: 20px 0;
  min-height: 100px;
  display: flex;
  flex-wrap: nowrap;
}
.link {
  color: black;
}
.listItem:hover {
  background-color: #f6f6f6;
  animation-name: example;
  animation-duration: 0.2s;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
}

.number {
  vertical-align: top;
  background-color: #f6f6f6;
  text-align: center;
  flex-shrink: 0;
  flex-basis: 50px;
}

.number a {
  color: #646464;
  font-weight: bold;
}

.keywordsLine {
  margin-top: 10px;
  font-variant: small-caps;
  opacity: 0.6;
}

.keywordsLine a {
  margin-right: 30px;
}

.content {
  padding-left: 10px;
}

.listItem .content a {
  color: black !important;
}

.title a:visited {
}
