.citationDetails {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.citationDetails label {
  grid-area: labels;
}

.keywords li {
  font-variant: small-caps;
}

.rawText {
  font-family: monospace;
  padding: 1rem;
  border: 2px solid black;
  background-color: white;
  font-size: 1.4rem;
  margin-top: 3rem;
  background-color: #f6f6f6;
}

@media (min-width: 480px) {
  .citationDetails {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .citationDetails {
    padding: 10px 5%;
  }
}

@media (min-width: 992px) {
  .citationDetails {
    padding: 10px 10%;
  }
}
@media (min-width: 1200px) {
}
