.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.container li {
  list-style-type: none;
}

.page,
.previous,
.next,
.break {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  width: 30px;
  height: 30px;
  background-color: #f6f6f6;
  text-align: center;
  margin: 0 6px;
  border: 1px solid#80807d;
  border-radius: 2px;
}

.pageLink,
.previousLink,
.nextLink,
.breakLink,
.activeLink {
  cursor: pointer;
  line-height: 30px;
  height: 100%;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-radius: 2px;
}

.break {
  background-color: transparent;
  border: none;
}
.pageLink:hover,
.previousLink:hover,
.nextLink:hover,
.breakLink:hover {
  background-color: #d1d0d0;
}

.activeLink,
.activeLink:hover {
  background-color: #9bc057;
  font-weight: bold;
  color: white;
}
